<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>boke</title>
	<link rel="stylesheet" href="/stylesheets/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<script type="text/javascript" src="/js/js.js"></script>
	<script src="/kindeditor/kindeditor-min.js" charset="utf-8"></script>
	<script src="/kindeditor/lang/zh_CN.js" charset="utf-8"></script>
	<script>
		var editor;
		KindEditor.ready(function(k) {
			window.editor = k.create('textarea', {
				allowimageUpload: false,
				items: [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist', 'insertunorderedlist', '|', 'emoticons', 'image', 'link']
			});
		});
	</script>
</head>
<body>
<div class="container main">
	<span class="search">
		<form action="search" method="GET">
			<input type="text" name="keyword" placeholder="SEARCH" class="search-i">
			<input type="submit" value="搜索">
		</form>
	</span>
	<header>
		<h1><%= title %></h1>
	</header>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-left">
				<ul class="nav navbar-nav">
					<li><a href="/" title="Home">主页</a></li>
					<li><a href="archive" title="archive">存档</a></li>
					<% if(user) { %>
						<li><a title="upload" href="/upload">上传</a></li>
						<li><a href="/post" title="updown">发表</a></li>
				</ul>
			</div>
			<div class="navbar-right">
				<ul class="nav navbar-nav">
						<li><a href="/logout" title="outLogin">登出</a></li>
					<% } else { %>
			</div>
			<div class="navbar-right">
				<ul class="nav navbar-nav">
						<li><a href="/login" title="Login">登录</a></li>
						<li><a href="/reg" title="Register">注册</a></li>
					<% } %>
				
				</ul>
			</div>
		</div>
	</nav>

	<article class="row">
		<div class="col-md-9">
			<div class="information" id="information">
				<% if(success) { %>
					<div><%- success %></div>
				<% } %>
				<% if(error) { %>
					<div><%- error %></div>
				<% } %>
			</div>