<div style="overflow: hidden">
	<div style="float: left; height: 48px; line-height: 60px">友情链接：</div>
	<ul sytle="list-style: none;">
		<li style="float: left; list-style-type: none; margin-right: 20px"><h3><a href="https://www.baidu.com">百度</a></h3></li>
		<li style="float: left; list-style-type: none; margin-right: 20px"><h3><a href="https://www.imooc.com">慕课</a></h3></li>
	</ul>
</div>